html, body {  
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin:0;  
	padding:0;  
	border:0;
	text-align:center;
	background-color: #999999;	
}

#contentArea {
	padding: 0px;
}

#gameCanvas{
	opacity:0;
	display: block; 
	margin: 0 auto; 
	background: #fff;
}

#statusbar {
	opacity:0;
	background-color: #0F0F0F; 	
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto; 
}

#menu
{
	opacity: 0;
}

#overviewMenu
{
	margin-top: 10px;
	margin-left: auto;  
	margin-right: auto;
	height:300px;
	width:300px;
}

#overviewExit
{
	margin-top: 10px;
	margin-left: auto;  
	margin-right: auto;
	height:300px;
	width:300px;
}

#foot 
{
	background-color: #0F0F0F;
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto; 
	text-align:center;
}

#foot div {display:inline-block;}


#backBtn
{
	float:left;
	margin-top: 5px;
	background-image: url(../pics/button_back.png);
	height: 30px;
	width: 30px;	
}


#optionBtns
{	
	margin-top: 40px;
	margin-left: auto;  
	margin-right: auto;	
	padding: 0px;
	height:40px;
	width:240px;
}

#radio
{	
	margin-top:30px;
	float: left;
    width: 100px;
	height: 25px;
}

#radioBtns
{
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto;	
	padding: 0px;
	height:40px;
	width:300px;
}

#rad
{
	margin: 2pt -2pt 0pt;
}

.levelSelection
{
	background-image: url(images/Level.png);
	height: 32px;
	width: 32px;	
}

.pause
{
	background-image: url(images/Pause2.png);
	height: 32px;
	width: 32px;	
}

.sound
{
	background-image: url(images/Sound2.png);
	height: 32px;
	width: 32px;
}

.reloadLevel
{
	background-image: url(images/Reload.png);
	height: 32px;
	width: 32px;
}

.nextLevel
{
	background-image: url(images/Forward2.png);
	height: 32px;
	width: 32px;
}

#options
{
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto;	
}

#overviewOptions
{	
	margin-top: 10px;
	margin-left: auto;  
	margin-right: auto;	
	width: 300px;
	height: 300px;	
}

#levelOverview
{
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto;	
}

#levelIcons
{
	margin-top: auto;
	margin-left: auto;  
	margin-right: auto;	
}

.levelIcons
{
	float:left;
}

.ui-grid-d {
    float: center;
}

.lvlDesc {
	float: left;
}

.ui-dialog-contain {
	width: 92.5%;
	max-width: 400px;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -15px;
}

.ui-dialog  .ui-header .ui-btn-icon-notext  { 
	display:none;
} 

.ui-icon-level-selection {
	background-image: url("images/Arrange.png");
}

.ui-icon-settings {
	background-image: url("images/Settings.png");
}

.ui-icon-quit {
	background-image: url("images/ShutDown.png");
}

.ui-icon-back2 {
	background-image: url("images/Back.png");
}

.ui-icon-accept {
	background-image: url("images/Accept.png");
}

.ui-icon-decline {
	background-image: url("images/Decline.png");
}

.ui-icon-music {
	background-image: url("images/Music.png");
}

.ui-icon-lelev {
	background-image: url("images/Level.png");
}

